@import url(Nosotros.css);
@import url(inicio.css);
@import url(Musica.css);

*{
    margin: 0;
    box-sizing: border-box;
    
}

body{
     font-family: "Roboto";
    
}

header {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: black;
    
    
}


header .menu{
   
}


header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .logo{
    width: 100px;
    
}


header .contenedor nav a{
    display: none;
    
    color: black;
    text-decoration: none;
    align-items: center;
    
    
}


header .contenedor .hamb{
    font-size: 40px;
    display: block;
    color: white;
    top: 0;
    padding: 0 10px;
    
}



@media (min-width:700px){
    header .contenedor{
    margin: 0 20px;
    justify-content:space-around; 
    
}
    
    header .contenedor nav a{
    display: block;
    padding: 0 10px;
    font-size: 20px;
    color: white;
    margin: 0 20px;
    
        
    }
    
    header .contenedor .hamb{
        display: none;
    }
    
    
    
    
}