#Nosotros {
    position: relative;
    width: 100%;
    background: black;
    
}

#Nosotros .contenedor-nosotros{
   display: flex;
    flex-wrap: wrap;
}



#Nosotros h3{
    text-align: center;
    height: 200px;
    text-transform: uppercase;
    font-size: 40px;
    background-color: gray;
    background-image: url(../img/lifeband1.jpg);
    background-attachment: fixed;
    background-position: bottom ;
    
    color: white;
    padding: 10% 0;
    overflow: hidden;
    
        
}

#Nosotros article{
    position: relative;
    padding: 20px 0;
    justify-content: center;
    text-align: center;
    border:  1px solid rgba(128, 128, 128, 0.35);
   
}

#Nosotros h2{
    
    
    color: white;
    top: 70%;
    left: 50%;
    
    font-size: 40px;
    border-radius: 20px;
    padding: 0 10px;
    
}

#Nosotros p{
        
    color: white;
    top: 80%;
    left: 50%;
   
    border-radius: 20px;
    padding: 0px 5px;
    
    font-size: 20px;
    
}


#Nosotros img{
    width: 100%;
    filter: grayscale(1);
    
}


#Nosotros img:hover{
    
    filter: grayscale(0);
    
}




#Nosotros article{
    margin: 0;
    
}




@media (min-width:700px){
    
    #Nosotros article{
        display: flex;
        align-items: center;
        
    }
    
    #Nosotros article img{
        width: 50%
        
    }
    
    #Nosotros h2{
   
    align-content: center;
    color: white;
    font-size: 80px;
    padding: 0 20PX;
    
    
}
    #Nosotros p{
        
    
    padding: 20px 20px;
    
    font-size: 30px;
    
}
    
    
}

